.aliasName {
  font-size: 30px;
  color: red;
}
.commonQuestion p {
  font-size: 20px;
}
.topImage {
  border-radius: 10px;
  overflow: hidden;
  opacity: 1;
}
label {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.root {
  width: 100%;
  text-align: center;
}
.root li {
  text-align: left;
  margin-bottom: 10px;
  font-size: 18px;
}
.root * {
  width: 100%;
}
.forSale {
  font-size: 20px;
}
.images img {
  max-width: 600px;
  margin-bottom: 15px;
  border: 1px solid rgb(165, 187, 228);
  box-shadow: 5px 5px 3px #666;
  border-radius: 15px;
  opacity: 1 !important;
}

.window {
  border: 1px solid rgb(165, 187, 228);
  box-shadow: 5px 5px 3px #666;
  border-radius: 7px;
  overflow: hidden;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: white;
  opacity: 0.9;
}
.window .title {
  background-color: rgb(165, 187, 228);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

.window p {
  padding-left: 3px;
  padding-right: 3px;
  word-wrap: break-word;
}

.window img {
  border-radius: 7px;
  -webkit-box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.75);
}

html {
  background: url("../img/fondo.jpg") no-repeat center center fixed;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: transparent !important;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.perfil {
  max-width: 170px;
  height: auto;
  opacity: 1 !important;
  border-radius: 50% !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.logo {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.mainBanner {
  max-width: 900px;
  height: auto;
  border-radius: 0 0 10px 10px;
}

.comingSoon {
  opacity: 0.3;
}
