.aliasName {
  font-size: 30px;
  color: red;
}
.commonQuestion p {
  font-size: 20px;
}
.topImage {
  border-radius: 10px;
  overflow: hidden;
  opacity: 1;
}
label {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
.root {
  width: 100%;
  text-align: center;
}
.root li {
  text-align: left;
  margin-bottom: 10px;
  font-size: 18px;
}
.root * {
  width: 100%;
}
.forSale {
  font-size: 20px;
}
.images img {
  max-width: 600px;
  margin-bottom: 15px;
  border: 1px solid rgb(165, 187, 228);
  box-shadow: 5px 5px 3px #666;
  border-radius: 15px;
}

.window {
  border: 1px solid rgb(165, 187, 228);
  box-shadow: 5px 5px 3px #666;
  border-radius: 7px;
  overflow: hidden;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: white;
  opacity: 0.9;
}
.window .title {
  background-color: rgb(165, 187, 228);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 3px;
  letter-spacing: 2px;
}

.window p {
  padding-left: 3px;
  padding-right: 3px;
  word-wrap: break-word;
}

html {
  background: url("../img/fondo.jpg") no-repeat center center fixed;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: transparent !important;
}
